---
import { type CollectionEntry, render, getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import FormattedDate from '@/components/FormattedDate.astro'
import Heading from '@/components/Heading.astro'

type Props = { post: CollectionEntry<'blog'> }

export async function getStaticPaths() {
	const currentDate = new Date()
	const posts = await getCollection('blog', ({ data }) => !data.draft && data.publishedAt <= currentDate)

	return posts.map((post) => ({
		params: { slug: post.id },
		props: { post },
	}))
}

const { post } = Astro.props
const { title, description, publishedAt } = post.data

const { Content } = await render(post)
---

<Layout
	variant="post"
	meta={{
		type: 'blog',
		title,
		description,
		publishedAt,
		ogImageUrl: new URL(`/blog/${post.id}/og.png`, Astro.site ?? Astro.url).toString(),
	}}
>
	<header class="flex flex-col not-prose mb-12">
		<Heading as="h1">{title}</Heading>
		{description && <p class="text-lg sm:text-xl text-P-lead text-pretty mt-4">{description}</p>}
		<FormattedDate class="text-P-subtle text-base mt-4" date={publishedAt} />
	</header>
	<Content />
</Layout>
