---
import Layout from '@/layouts/Layout.astro'
---

<Layout
	meta={{
		type: 'page',
		title: 'Not Found',
	}}
>
	<section class="text-center">
		<hgroup class="mb-8">
			<p class="text-P-lead mb-2">404</p>
			<h1 class="text-h1 text-P-heading">Not Found</h1>
		</hgroup>
		<p>Sorry, no page exists at this URL.</p>
		<p class="mt-8">
			<a href="/" class="font-medium text-P-link hover:underline">Back to Home</a>
		</p>
	</section>
</Layout>
