---
import HomeFeatures from '@/components/HomeFeatures.astro'
import HomeIntro from '@/components/HomeIntro.astro'
import { SITE_BRAND_NAME } from '@/constants'
import Layout from '@/layouts/Layout.astro'
---

<Layout
	meta={{
		type: 'page',
		title: SITE_BRAND_NAME,
		description:
			'Live demo of the AstroFlareOG starter theme for Astro on Cloudflare Workers with dynamic Open Graph image generation. Open source by @firxworx.',
	}}
>
	<section>
		<header class="mb-12">
			<h1 class="text-h1 text-P-heading text-balance mb-4">{SITE_BRAND_NAME}</h1>
			<div class="text-lead text-P-lead text-pretty">
				<p>Astro v6 Starter Theme for Cloudflare Workers</p>
			</div>
		</header>
		<h2 class="text-h2 mt-[1.75em] mb-[0.615em] text-center">Features</h2>
		<HomeFeatures />
		<h2 class="text-h2 mt-[1.75em] mb-[0.615em] text-center">About this Theme</h2>
		<HomeIntro />
	</section>
</Layout>
