---
import HomeIntro from '@/components/HomeIntro.astro'
import { SITE_BRAND_NAME } from '@/constants'
import Layout from '@/layouts/Layout.astro'
---

<Layout
	meta={{
		type: 'page',
		title: SITE_BRAND_NAME,
		description:
			'Live demo of the AstroFlareOG starter theme for Astro on Cloudflare Workers with dynamic Open Graph image generation. Open source by @firxworx.',
	}}
>
	<section>
		<header class="mb-12">
			<h1 class="text-h1 mb-4">{SITE_BRAND_NAME}</h1>
			<div class="text-lead text-P-lead text-pretty">
				<p>Astro v6 Starter Theme for Cloudflare Workers</p>
			</div>
		</header>
		<HomeIntro />
	</section>
</Layout>
