---
import { cn } from '@/lib/style'

type Props = {
	class?: string
}

const { class: className } = Astro.props as Props

const features = [
	{
		title: 'Cloudflare',
		description: 'Ready to deploy on Cloudflare Workers.',
	},
	{
		title: 'Open Graph',
		description: 'Dynamic OG image generation for social sharing.',
	},
	{
		title: 'TailwindCSS',
		description: 'Complete with palette and custom typography.',
	},
	{
		title: 'MD & MDX',
		description: 'Easily write content with elegant styling.',
	},
	{
		title: 'Pure Astro',
		description: 'A blank slate with zero framework dependencies.',
	},
	{
		title: 'SEO',
		description: 'Sitemap, robots.txt, meta tags, and more.',
	},
]
---

<div class={cn('grid grid-cols-1 sm:grid-cols-2 w-full mx-auto gap-6', className)}>
	{
		features.map((feature) => (
			<div class="flex flex-col bg-P-card text-P-card-fg border rounded-xl py-5 sm:py-6 px-5">
				<h3 class="text-h4 text-P-heading">{feature.title}</h3>
				<p class="mt-1 text-P-lead text-pretty">{feature.description}</p>
			</div>
		))
	}
</div>
