---
import { PROJECT_REPO_URL } from '@/constants'
---

<div class="prose">
	<p>
		The AstroFlareOG starter theme is ready-to-deploy on Cloudflare Workers and features dynamic Open Graph (OG) image
		generation.
	</p>
	<p>
		AstroFlareOG was created by <a href="https://firxworx.com" target="_blank" rel="noopener">Kevin Firko</a> (GitHub:
		<a href="https://github.com/firxworx" target="_blank" rel="noopener"><code>@firxworx</code></a>) of <a
			href="https://bitcurve.com"
			target="_blank"
			rel="noopener">Bitcurve Systems</a
		> and released under MIT License on 2026-04-20.
	</p>
	<p>
		<strong>GitHub:</strong>
		<a href={PROJECT_REPO_URL} target="_blank" rel="noopener">firxworx/astroflare-og-public</a>
	</p>
	<h3>Overview</h3>
	<p>AstroFlareOG's minimalist design offers a blank slate that's easy to customize and build on.</p>
	<p>
		TailwindCSS is ready-to-rock with simple palette tokens and a custom responsive <code>.prose</code> utility for styling
		rich text content.
	</p>
	<p>A simple <code>blog</code> content collection provides a starting point for publishing content.</p>
	<p>Clean image templates are included for both the site and blog posts:</p>
	<ul>
		<li><a href="/og.png">/og.png</a> &mdash; Site OG Image</li>
		<li><a href="/blog/markdown-style-guide/og.png">/blog/[slug]/og.png</a> &mdash; Example Blog Post OG Image</li>
	</ul>
	<h3>Explore theme</h3>
	<ul>
		<li>Check out the example <a href="/blog/">Blog</a> to see the theme in action.</li>
		<li>Preview typography by reading the <a href="/blog/markdown-style-guide/">Markdown Style Guide</a>.</li>
		<li>Read the <a href="/docs/">Docs Page</a> to learn how to customize Fonts and OG image templates.</li>
	</ul>
</div>
