---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/style'

/**
 * Astroflare SVG placeholder logo.
 *
 * Renders monochrome `currentColor` svg logo with no `width` or `height` attributes for sizing via CSS.
 *
 * Set the size via TailwindCSS `h-` css class to scale proportionally via `w-auto`.
 *
 * Created by @firxworx using logoimpsum.com editor and released under Fair Use License;
 * typeface is Albert Sans (OFL-1.1).
 *
 * @see https://logoipsum.com/license
 */
interface Props extends Pick<HTMLAttributes<'svg'>, 'class'> {
	color?: string
	widthPx?: number
	logoHeightPx?: number
}

const { class: className } = Astro.props as Props
---

<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 191.02 40" class={cn('h-6 w-auto', className)}>
	<title>AstroFlare Logo</title>
	<path
		fill="currentColor"
		d="M24 0h-8v12.063A4 4 0 0 1 12 16H0v8h8.686a8 8 0 0 0 5.657-2.343l7.314-7.314A8 8 0 0 0 24 8.686zM16 40h8V27.937A4 4 0 0 1 28 24h12v-8h-8.686a8 8 0 0 0-5.657 2.343l-7.314 7.314A8 8 0 0 0 16 31.314zM68.59 33.377h-4.13l-.35-2.14q-.88 1.09-1.98 1.72t-2.95.63q-1.75 0-3.07-.61-1.31-.62-2.04-1.72-.74-1.1-.74-2.61 0-2.2 1.59-3.65 1.6-1.46 4.81-1.84l4.38-.49v-1.23q0-.73-.66-1.36-.67-.63-2.1-.63-1.26 0-2.19.61t-1.24 1.84l-3.85-1.4q.7-2.35 2.66-3.61t4.83-1.26q3.49 0 5.26 1.74 1.77 1.73 1.77 4.56zm-4.48-7.32v-.27l-3.78.48q-1.15.15-1.75.69t-.6 1.31q0 .74.6 1.24.6.51 1.68.51 1.23 0 2.08-.46.86-.45 1.32-1.32.45-.88.45-2.18m6.3 2.8 4.03-1.19q.21.88.71 1.34.51.45 1.16.64t1.31.19q1.22 0 1.93-.47.7-.47.7-1.2 0-.63-.49-1t-1.26-.56-1.58-.41q-.94-.24-2.01-.54t-2.01-.86q-.95-.56-1.58-1.45t-.63-2.26q0-1.61.89-2.83.9-1.23 2.49-1.93t3.69-.7q2.49 0 4.2 1.05 1.72 1.05 2.49 3.01l-3.96 1.12q-.17-.49-.59-.8-.42-.32-1-.46t-1.17-.14q-1.02 0-1.68.41-.67.4-.67 1.1 0 .42.25.68.24.26.68.44.44.17 1.01.31.58.14 1.28.32 1.09.28 2.19.65 1.1.36 2.03.92t1.49 1.51q.56.94.63 2.38 0 1.54-.88 2.78-.87 1.24-2.52 1.98-1.64.74-3.99.74-2.73 0-4.64-1.16-1.9-1.16-2.5-3.61m15.33-12.98h2.49v-4.9h4.55v4.9h3.85v3.95h-3.85v7.11q0 1.37.57 1.92.58.56 1.47.6.9.03 1.81-.1v3.84q-1.61.36-3.14.22-1.52-.15-2.71-.83t-1.87-2.08-.68-3.57v-7.11h-2.49zm12.67 17.5v-17.5h4.06l.32 2.24q.73-.91 1.66-1.49t2.05-.8q1.12-.23 2.34.05v4.2q-.94-.32-1.98-.18-1.03.14-1.92.74-.89.59-1.47 1.7-.58 1.1-.58 2.78v8.26zm19.5.25q-2.56 0-4.55-1.11-2-1.1-3.14-3.11-1.13-2.01-1.13-4.75 0-2.76 1.17-4.79t3.2-3.13q2.03-1.11 4.55-1.11t4.55 1.11q2.03 1.1 3.22 3.11t1.19 4.74q0 2.77-1.21 4.8-1.2 2.03-3.25 3.13-2.05 1.11-4.6 1.11m-.04-4.03q1.09 0 2.07-.54.98-.55 1.61-1.65t.63-2.82q0-1.64-.6-2.74-.59-1.11-1.56-1.65-.96-.54-2.08-.54-1.08 0-2.01.54t-1.47 1.65q-.54 1.1-.54 2.81 0 1.65.52 2.75.53 1.1 1.44 1.65.91.54 1.99.54m11.97-13.72v-1.58q0-2.27.82-3.71.82-1.43 2.45-2.06t4.08-.35v3.95q-1.54-.21-2.19.42-.64.63-.64 1.96v1.37h3.04v3.95h-3.04v13.55h-4.52v-13.55h-2.07v-3.95zm8.96 17.5v-25.2h4.48v25.2zm21.8 0h-4.13l-.35-2.14q-.87 1.09-1.97 1.72-1.11.63-2.96.63-1.75 0-3.06-.61-1.32-.62-2.05-1.72-.74-1.1-.74-2.61 0-2.2 1.6-3.65 1.59-1.46 4.81-1.84l4.37-.49v-1.23q0-.73-.66-1.36-.67-.63-2.1-.63-1.26 0-2.19.61t-1.24 1.84l-3.85-1.4q.7-2.35 2.66-3.61t4.83-1.26q3.5 0 5.27 1.74 1.76 1.73 1.76 4.56zm-4.48-7.32v-.27l-3.78.48q-1.15.15-1.75.69-.59.54-.59 1.31 0 .74.59 1.24.6.51 1.68.51 1.23 0 2.09-.46.85-.45 1.31-1.32.45-.88.45-2.18m7.18 7.32v-17.5h4.06l.31 2.24q.74-.91 1.67-1.49.92-.58 2.04-.8 1.12-.23 2.35.05v4.2q-.95-.32-1.98-.18t-1.92.74q-.9.59-1.47 1.7-.58 1.1-.58 2.78v8.26zm19.49.25q-2.62 0-4.62-1.16-1.99-1.16-3.09-3.22-1.11-2.07-1.11-4.76 0-2.59 1.09-4.59 1.08-1.99 3.03-3.13 1.94-1.14 4.42-1.14 2.52 0 4.45 1.09 1.92 1.08 2.99 3.03 1.07 1.94 1.07 4.53 0 .38-.05.86-.06.47-.13.99H178.8q.14 1.13.72 1.91.58.79 1.44 1.23.85.43 1.94.43 1.29 0 2.33-.54 1.03-.54 1.48-1.42l3.99 1.19q-1.05 2.25-3.13 3.47-2.08 1.23-4.78 1.23m-3.95-10.75h7.28q-.04-.98-.53-1.77t-1.29-1.22q-.81-.44-1.79-.44-.87 0-1.64.45-.77.46-1.31 1.21-.55.75-.72 1.77"
	></path>
</svg>
